<%= form_for(@tech) do |f| %>
  <% if @tech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tech.errors.count, "error") %> prohibited this tech from being saved:</h2>

      <ul>
      <% @tech.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tech_name %><br>
    <%= f.text_field :tech_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
